
@import url(styles/header.css);

:root { --cor-de-fundo: #F5F5F5;
}
 
h1
{  
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap'); 
}

h2
{  
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap'); 
}

h3
{  
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap'); 
}

p 
{
  
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap'); 

}




body {background-color: var(--cor-de-fundo);}



    input {
      font-family:  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap'); 
      color:rgb(0, 0, 0);
      border: 1px solid rgb(0, 0, 0);
    }

 
     
